@media (max-width: 480px) {
  body {
    background-color: var(--cor-marrom-forte);
  }

 .produto { 
    flex-direction: column;
     align-items: center;
      text-align: center; 
    }
     .produto .thumb {
         width: 100%;
          height: 200px;
         } 
         .cortes {
             justify-content: center; 
            }

.produto .acoes {
    display: flex;
    flex-direction: column; /* Fica um embaixo do outro */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center;
    gap: 10px;              /* Espaço entre eles */
    width: 100%;
  }

  .produto .quantidade {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .produto button.adicionar {
    width: 80%; /* Para ficar bonito no celular */
    max-width: 260px;
  }

  ul li {
     display: none; 
    }

  header, InputBusca{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtros{
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--cor-marrom);
        border-radius: 3px;
  }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

    .InputBusca {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0 auto;
    }

    .InputBusca input {
        width: 90%;
        max-width: 350px;
        display: block;
        margin: 0 auto;
    }

    .InputBusca i {
        position: absolute;
        right: 8%;
        top: 50%;
        transform: translateY(-50%);
    }

    .autocomplete-box {
         position: absolute;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-height: 250px;
        overflow-y: auto;
        z-index: 999;
        background: white;
        border-radius: 6px;
  }
}

    /* Deixa a coluna centralizada */
    .produto .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Centraliza a box da quantidade */
    .produto .qtd-box {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100%;
    }

    /* Deixa o input mais centralizado e ajustado */
    .produto .input-qtd {
        width: 80px;
        text-align: center;
        font-size: 1rem;
    }

    /* Botão de adicionar ocupando boa parte da largura */
    .produto .btn-add-prod {
        width: 80%;
        max-width: 300px;
        margin-top: 12px;
        padding: 10px;
        text-align: center;
        display: block;
    }