@charset "UTF-8";

:root {
    --cor-marrom: #E6E1C7;
    --cor-marrom-forte: #c0beaa;
    --cor-vermelha: #D90404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor-marrom-forte);
}

h1 {
    margin:50px
}

