@charset "UTF-8";

:root {
    --cor-marrom: #E6E1C7;
    --cor-marrom-forte: #c0beaa;
    --cor-vermelha: #D90404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor-marrom-forte);
}

header {
    display: flex;
    padding: 0px 10px 0px 10px;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--cor-marrom);
}

header img {
    object-fit: cover;
}
header img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

div.InputBusca {
    display: flex;
}

.InputBusca input[type="text"]{
    display: flex;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.InputBusca i{
    position: relative;
    right: 30px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    color: var(--cor-vermelha);
}

.InputBusca input[type="text"]:focus {
    outline: none;
    border-color: var(--cor-vermelha);
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 150px;
}

.filtros img{
    height: 40px;
    color: var(--cor-vermelha);
}

.tipos-delet {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana;
    font-weight: bolder;
    font-size: 15px;
    color: var(--cor-vermelha);
    cursor: pointer;
    transition: 0,2s;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
}

.tipos-delet:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    background-color: var(--cor-marrom);
}

.tipos{
    font-family:Verdana;
    font-weight: lighter;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0,2s;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 150px;
    height: 75px;
}

.tipos:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    background-color: var(--cor-marrom);
}

.tipos.ativo {
    background: var(--cor-marrom);
    transform: scale(1.2);
}

.produto {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--cor-marrom);
    border-radius: 4px;
    margin-bottom: 10px;
    background:#E6E1C7;
    border-radius:4px;
    padding:10px;
    text-align:center;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}

div.produto-botoes {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.produto button {
    padding: 7px 10px 7px 10px;
    margin-bottom: 7px;
    background-color: var(--cor-vermelha);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color:white;
    border-radius: 4px;
}

.produto button:hover {
    cursor: pointer;
    background-color:#7a1818;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.btn-remove {
    padding: 7px 10px 7px 10px;
    margin-bottom: 7px;
    background-color: var(--cor-vermelha);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color:white;
    border-radius: 4px;
}

.btn-remove:hover {
    cursor: pointer;
    background-color:#7a1818;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.container { 
    display:flex; 
    justify-content:center; 
    padding:20px; 
    gap:30px; 
}


/* GRID */
.grid-produtos {
display: flex;
flex-wrap: wrap;
width: 75%;
}


/* CARRINHO LATERAL */
.carrinho {
width:25%;
background:#E6E1C7;
padding:15px;
border-radius:6px;
height:max-content;
box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}

.item-carrinho { 
    display:flex; 
    justify-content:space-between; 
    padding:5px 0; 
    border-bottom:1px solid #aaa; 
}
.total { 
    font-size:20px; 
    margin-top:15px;
    margin-bottom: 15px; 
    font-weight:bold; 
}

#btn-finalizar {
    width:100%; 
    padding:10px; 
    background:#D90404; 
    color:white; 
    border:none; 
    border-radius:4px; 
    cursor:pointer;
}
.endereco { 
    margin-top:20px; 
    display:flex; 
    flex-direction:column; 
    gap:10px; 
}
.endereco input { 
    padding:8px; 
    border:1px solid #888; 
    border-radius:4px; 
}

@media (max-width:900px){ .grid-produtos{ grid-template-columns: repeat(2,1fr) } .container{ flex-direction:column } .carrinho{ width:100% } }
@media (max-width:520px){ .grid-produtos{ grid-template-columns: 1fr } }