@charset "UTF-8";

:root {
    --cor-marrom: #E6E1C7;
    --cor-marrom-forte: #c0beaa;
    --cor-vermelha: #D90404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.autocomplete-box {
    position: absolute;
    background: white;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    margin-top: 50px;
    z-index: 10;
}

.item-auto {
    padding: 8px 12px;
    cursor: pointer;
}

.item-auto:hover {
    background-color: #eee;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-container::after {
  content: attr(data-title);
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 250px;
  white-space: pre-wrap; 
  visibility: hidden;
  opacity: 0;
  transition:0.3s;
  z-index: 10;
}

.tooltip-container:hover::after {
  visibility: visible;
  opacity: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

abbr {
    text-decoration: none;
    cursor: pointer;
}

abbr:hover {
    text-decoration: underline;
}

body {
    background-color: var(--cor-marrom-forte);
}

header {
    display: flex;
    padding: 0px 50px 0px 50px;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--cor-marrom);
}

header img {
    height: 120px;
    object-fit: cover;
}
header img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

div.InputBusca {
    display: flex;
    width: 80%;
}

.InputBusca input[type="text"]{
    display: flex;
    width: 80%;
    padding: 15px 10px 15px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.InputBusca i{
    position: relative;
    right: 30px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
    color: var(--cor-vermelha);
}

.InputBusca input[type="text"]:focus {
    outline: none;
    border-color: var(--cor-vermelha);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    color: var(--cor-vermelha);
    margin-right: 20px;
    list-style: none;
    font-family: Verdana;
    font-weight: bolder;
    font-size: 15px;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 150px;
}

.filtros img{
    height: 40px;
    color: var(--cor-vermelha);
}

.tipos-delet {
     font-family:Verdana;
    font-weight: lighter;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0,2s;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 150px;
    height: 75px;
}

.tipos-delet:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    background-color: var(--cor-marrom);
}

.tipos{
    font-family:Verdana;
    font-weight: lighter;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0,2s;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 150px;
    height: 75px;
}

.tipos:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    background-color: var(--cor-marrom);
}

.tipos.ativo {
    background: var(--cor-marrom);
    transform: scale(1.2);
}

.produto {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: var(--cor-marrom);
    border-radius: 4px;
    padding: 10px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}

div.produto-botoes {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.produto button {
    padding: 7px 10px 7px 10px;
    margin-bottom: 7px;
    background-color: var(--cor-vermelha);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color:white;
    border-radius: 4px;
}

.produto button:hover {
    cursor: pointer;
    background-color:#7a1818;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.btn-remove {
    padding: 7px 10px 7px 10px;
    margin-bottom: 7px;
    background-color: var(--cor-vermelha);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color:white;
    border-radius: 4px;
}

.btn-remove:hover {
    cursor: pointer;
    background-color:#7a1818;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.container { 
    display:flex; 
    padding:20px; 
    gap:20px; 
}


/* GRID */
.grid-produtos {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100vh;
    gap: 15px;
}


/* CARRINHO LATERAL */
.carrinho {
    width:25%;
    background:#E6E1C7;
    padding:15px;
    border-radius:6px;
    height:max-content;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);

    position: sticky;
    top: 20px;   /* distância do topo quando “colar” */
    align-self: flex-start;
}

.item-carrinho { 
    display:flex; 
    justify-content:space-between; 
    padding:5px 0; 
    border-bottom:1px solid #aaa; 
}
.total { 
    font-size:20px; 
    margin-top:15px;
    margin-bottom: 15px; 
    font-weight:bold; 
}

#btn-finalizar {
    width:100%; 
    padding:10px; 
    background:#D90404; 
    color:white; 
    border:none; 
    border-radius:4px; 
    cursor:pointer;
}

#btn-finalizar:hover {
    background:#7a1818; 
    transition: all 0.3s ease;
}
.endereco { 
    margin-top:20px; 
    display:flex; 
    flex-direction:column; 
    gap:10px; 
}
.endereco input { 
    padding:8px; 
    border:1px solid #888; 
    border-radius:4px; 
}
